{
    "presets":[
        ["env",{
            "target":{
                "browser":[
                    "last 5 versions",
                    "ie > 8"
                ]
            }
        }]
    ]
}